
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700;800&display=swap');
/* 
 *{
  background: rgb(0,0,0);
background: linear-gradient(293deg, rgba(0,0,0,1) 27%, rgba(19,39,92,1) 99%);
 } */



  .font-poppins{
    font-family: 'Poppins', sans-serif;
  }

  .font-anton{
    font-family: 'Anton', sans-serif;
  }

  .sheitoo{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,86,45,1) 100%);
  }
  .oreee{
    background: rgb(0,0,0);
background: linear-gradient(9deg, rgba(0,0,0,1) 13%, rgba(47,69,129,1) 95%);
  }